@model Pweb_2021.Models.Reserva

@{
    ViewData["Title"] = "Index";
}

<h1>Reservas</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imovel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int[] ordem = { 1, 2, 3, 4, 0 };
            var helper = (HelperClass)ViewBag.helper;
            @foreach (var i in ordem)
            {
                var reservas = (IEnumerable<Reserva>)ViewBag.reservas;
                var nofeedyet = (IEnumerable<int>)ViewBag.nofeedyet;
                @foreach (var reserva in reservas.Where(rs => rs.Estado == i))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => reserva.DataInicial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => reserva.DataFinal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => reserva.Imovel.Nome)
                        </td>
                        <td>
                            @if (helper.isCliente)
                            {
                                @Html.DisplayFor(modelItem => reserva.ApplicationUser.UserName)
                            }
                            else
                            {
                                <a asp-action="UserDetails" asp-route-id="@reserva.ApplicationUserId"> @Html.DisplayFor(modelItem => reserva.ApplicationUser.UserName) (Detanhes)</a>
                            }
                        </td>
                        <td>
                            @reserva.Estado_string()
                        </td>
                        <td>
                            @if (helper.isFunc || helper.isGestor)
                            {
                                @if (i == 1)
                                {//corfirmar ou rejeitar reserva
                                    <div class="row">
                                        <form asp-action="UpdateEstado" class="col">
                                            <input type="hidden" asp-for="ReservaId" class="col-1" value="@reserva.ReservaId" />
                                            <input type="hidden" asp-for="Estado" class="col-1" value="2" />
                                            <input type="submit" value="Aceitar" class="btn btn-success col" />
                                        </form>
                                        <form asp-action="UpdateEstado" class="col">
                                            <input type="hidden" asp-for="ReservaId" class="col-1" value="@reserva.ReservaId" />
                                            <input type="hidden" asp-for="Estado" class="col-1" value="0" />
                                            <input type="submit" value="Rejeitar" class="btn btn-danger col" />
                                        </form>
                                    </div>
                                }
                                @if (i == 2)
                                {//dar chave
                                    <form asp-action="UpdateEstado" class="col">
                                        <input type="hidden" asp-for="ReservaId" class="col-1" value="@reserva.ReservaId" />
                                        <input type="hidden" asp-for="Estado" class="col-1" value="3" />
                                        <input type="submit" value="Imóvel Entrege" class="btn btn-success col" />
                                    </form>
                                }
                                @if (i == 3)
                                {//receber chave finalizando a usazao
                                    <form asp-action="UpdateEstado" class="col">
                                        <input type="hidden" asp-for="ReservaId" class="col-1" value="@reserva.ReservaId" />
                                        <input type="hidden" asp-for="Estado" class="col-1" value="4" />
                                        <input type="submit" value="Imóvel Devolvido" class="btn btn-success col" />
                                    </form>
                                }
                                @if (i == 4)
                                {// comentar
                                    @if (nofeedyet.Any(rs => rs == reserva.ReservaId))
                                    {
                                        <a asp-controller="Feedbacks" asp-action="Create" asp-route-id="@reserva.ReservaId">
                                            Avaliar
                                            @if (helper.isCliente)
                                            {
                                                @Html.Raw("imóvel")
                                            }
                                            else
                                            {
                                                @Html.Raw("cliente")
                                            }
                                        </a>
                                    }
                                }
                                @if (helper.isAdmin)
                                {
                                    <a asp-action="Delete" asp-route-id="@reserva.ReservaId">Apagar</a>
                                }
                            }
                            @*<a asp-action="Details" asp-route-id="@reserva.ReservaId">Details</a>*@
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
