@model Pweb_2021.Models.Imovel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Imovel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>
        <dt class="col-sm-2">
            Avaliação
        </dt>
        <dd class="col-sm-10">
            @Pweb_2021.Models.Feedback.MediaEstrelas_string(ViewBag.comentarios)
        </dd>
    </dl>
</div>

<hr />
<div class="container">
    @{
        var imagens =
                (System.Collections.Generic.List<Pweb_2021.Models.ImovelImg>)
                ViewBag.imagens;

        var i = 0;
        @while (i < imagens.Count())
        {
            <div class="row">
                @while (true)
                {
                    <div class="col-lg-4 col-md-12 mb-4">
                        <img src="~/images/@imagens[i++].pathToImage" class="img-fluid md-2" asp-append-version="true" />
                    </div>
                    @if (@i % 3 == 0 || @i == imagens.Count())
                    {
                        break;
                    }
                }
            </div>
        }
    }

</div>

<div class="container">
    @foreach (Feedback comentario in ViewBag.comentarios)
    {
        <div class="card">
            <div>
                <p>@comentario.Comentario</p>
            </div>
            <div class="row">
                <div class="col-sm mx-auto">
                    @comentario.MakeStarts()
                </div>
                <div class="col-sm mx-auto">
                    <b>Author:</b> @comentario.ApplicationUser.UserName
                </div>
                @if (comentario.ApplicationUserId == ViewBag.helper.userId)
                {
                    <div class="col-sm mx-auto">

                        <a asp-controller="Feedbacks" asp-action="Edit" asp-route-id="@comentario.FeedbackId">Editar</a>
                    </div>
                    <div class="col-sm mx-auto">

                        <a asp-controller="Feedbacks" asp-action="Delete" asp-route-id="@comentario.FeedbackId">Apagar</a>
                    </div>
                }
            </div>
        </div>
    }
</div>

<div>
    @if (Model.ApplicationUserId == ViewBag.helper.userId || ViewBag.helper.isAdmin)
    {
        <a asp-action="Edit" asp-route-id="@Model.ImovelId">Editar</a>
        @Html.Raw("|")
    }
    @if (ViewBag.helper.isCliente)
    {
        <a asp-controller="Reserva" asp-action="Create" asp-route-id="@Model.ImovelId">Reservar</a>
        @Html.Raw("|")
        <a asp-controller="Feedbacks" asp-action="Create" asp-route-id="@Model.ImovelId">Comentar</a>
        @Html.Raw("|")
    }

    <a asp-action="Index">Voltar para Lista</a>
</div>
