@model Pweb_2021.Models.Imovel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Imovel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>
    </dl>
</div>


<hr />
<div class="container">
    @{
        var imagens =
                (System.Collections.Generic.List<Pweb_2021.Models.ImovelImg>)
                ViewBag.imagens;
        
        var i = 0;
        @while (i < imagens.Count())
        {
             <div class="row">
                @while(true){
                    <div class="col-lg-4 col-md-12 mb-4">
                        <img src="~/images/@imagens[i++].pathToImage" class="img-fluid md-2" asp-append-version="true" />
                    </div>
                    @if (@i%3 == 0 || @i == imagens.Count()){
                        break;
                    }
                }
            </div>
        }
    }

</div>

<div>
    @if (Model.ApplicationUserId == ViewBag.helper.userId || ViewBag.helper.isAdmin)
    {
        <a asp-action="Edit" asp-route-id="@Model.ImovelId">Editar</a> <html> | </html>
    }
    @if(ViewBag.helper.isCliente){
         <a asp-controller="Reserva" asp-action="Create" asp-route-id="@Model.ImovelId">Reservar</a>
         <html> | </html>
    }
    
    <a asp-action="Index">Voltar para Lista</a>
</div>
