@model IEnumerable<Pweb_2021.Models.Imovel>

@{
    ViewData["Title"] = "Index";
}


<h1>Imóveis</h1>

<p>
    @if (User.IsInRole(Pweb_2021.Statics.Roles.GESTOR))
    {
        <a asp-action="Create">Introduzir novo Imóvel</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            <th>
                    @Html.DisplayNameFor(model => model.ApplicationUser.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        var imagens = (System.Collections.Generic.List<Pweb_2021.Models.ImovelImg>)ViewBag.imagens;
                        if (imagens.Any())
                        {
                            var imagens_item = imagens.Where(img => img.ImovelId == item.ImovelId).ToList();
                            if (imagens_item.Any())
                            {
                                <img src="~/images/@imagens_item[0].pathToImage" class="rounded-circle" height="40" width="40" asp-append-version="true" />
                            }
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
                </td>
                <td>
                    @{
                        var helper = (HelperClass)ViewBag.helper;
                        @if (helper.isAuth)
                        {
                            @if (item.ApplicationUserId == helper.userId || helper.isAdmin)
                            {
                                <a asp-action="Edit" asp-route-id="@item.ImovelId">Editar</a>
                            }
                            @if (helper.isCliente)
                            {
                                <a asp-controller="Reservas" asp-action="Create" asp-route-id="@item.ImovelId">Reservar</a>
                            }
                        }
                    }
                    <a asp-action="Details" asp-route-id="@item.ImovelId">Detalhes</a>
                    @if (item.ApplicationUserId == helper.userId || helper.isAdmin)
                    {
                        @Html.Raw("|")
                        <a asp-action="Delete" asp-route-id="@item.ImovelId">Apagar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
